<footer>
      <div class="container">
            <p class="text-center text-muder">
                  &copy; Café com proeficiência, desenvolvido por <a
                        href="https://www.linkedin.com/in/johnrodrigues008/">John Rodrigues</a> <img
                        src="../img/batman-new.png" alt="">
            </p>
      </div>
</footer>