<!DOCTYPE html>
<html lang="pt-br">
      <%- include('../components/head'); %> 
      
<body>
      <%- include('../components/header'); %>

      <main>
            <div class="jumbotron">
                  <h1>Sobre min</h1>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet minima voluptate sunt fugit quam, similique pariatur <br>quae rerum tenetur quidem eaque ullam autem deleniti! Natus voluptatibus recusandae vel ut praesentium!</p>
            </div>
      </main>

      <%- include('../components/footer'); %>
</body>
</html>