<!DOCTYPE html>
<html lang="pt-br">
      <%- include('../components/head'); %>
<body>

      <%- include('../components/header'); %>

      <main>
            <div class="jumbotron">
                  <h1>Café com proeficiência</h1>
                  <h3>Node com EJS</h3>
                  <p>Vamos aprender a trabalhar com arquivos EJS.</p>
            </div>
      </main>

      <%- include('../components/footer'); %>

</body>

</html>